<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SupervisionLivraisons"
        android:usesCleartextTraffic="true">

        <!-- Login -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Contrôleur -->
        <activity android:name=".controleur.ControleurDashboardActivity" android:exported="false"/>
        <activity android:name=".controleur.ControleurLivraisonsActivity" android:exported="false"/>
        <activity android:name=".controleur.ControleurRechercheActivity" android:exported="false"/>
        <activity android:name=".controleur.ControleurMessagesActivity" android:exported="false"/>
        <activity android:name=".controleur.EnvoyerMessageActivity" android:exported="false"/>

        <!-- Livreur -->
        <activity android:name=".livreur.LivreurLivraisonsActivity" android:exported="false"/>
        <activity android:name=".livreur.LivreurDetailActivity" android:exported="false"/>
        <activity android:name=".livreur.LivreurMessageActivity" android:exported="false"/>

    </application>
</manifest>
